.profile{
    text-align: center;
    border-bottom: 2px solid rgb(219, 216, 216);
    height: 320px;
}

.profileNav{
    border-bottom: 2px solid rgb(219, 216, 216);
    width: 100%;
}

.perfil{
    color: #FF2E63;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 45px;
    margin-left: 10%
}

.profilePicture{
    border-radius: 700px;
    width: 120px;
    margin-top: 25px;
    margin-left: auto; /* Los deja centrados */
    margin-right: auto;
    text-align: left;

}

.pName{
    margin-top: 1%;
    font-size: 20px
}

.memory, .museum, .cultural, .cine, .literature {
    border: 0.5px solid #FF2E63;
    border-radius: 5px;
}

.memory{
    width: 150px;
}
.museum{
    width: 64px;
    margin-left: 10px
}
.cultural{
    width: 165px;
}
.cine{
    width: 45px;
    margin-left: 10px
}
.literature{
    width: 90px;
}

.preferences1{
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}


.preferences2{
    display: flex;
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto

}

.preferences3{
    display: grid;
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto;
}

.preferences3 > div {
    margin-left: auto;
    margin-right: auto;
}

.marks{
    width: 40px;
    display: grid;
    margin-top: 20px;
    margin-left: 40px
}

.pSettings{
    display: grid;
    margin-top: -170px;
    margin-left: 100px;
    font-weight: bold;
}

.pSettings > p {
    margin-top: 20px
}