.div1{
    background-color: aliceblue;
    position: absolute;
    z-index: 100;
    height: 200px;
    width: 100%;
    margin-top: 20%
}

.detailBubble1{
    width: 230px;
    margin-top: 10px;
    margin-left: 22px
}

.pBubble1{
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 1px solid orange;
    padding: 1%
}

.pBubble{
    text-align: center;
    margin-left: 20px;
}

.goTo{
    border: 2px solid white;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    background-color: orange;
    margin-top: 2%;
    margin-left: 23%; /* Los deja centrados */
    padding: 3%;
}
