.activity{
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
    border-color: #FF2E63;
    margin-top: 15px; 
    margin-left: 2%;
    margin-right: 2%; 
}

.activitycontainer{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.preferences{
    color: #FF2E63;
    font-size: 20px;
    font-weight: bold;
    padding-top: 45px;
    margin-left: 7%;
    margin-right: 0%;
}

.areasInt{
    padding-top: 15px;
    margin-left: 7%;
    margin-right: 0%;
}

.barra{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 85%;
    margin-top: 25px;
}

.continue{
    background-color: #FB8B24;
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 85%;
    margin-top: 30px;
    border: 5px;
}

#selectedColor{
    background-color: #FF2E63;
    color: #ffffff;
}