body {
  background-color: #FB8B24;
  font-family: 'Poppins', sans-serif;
}

.telephoneNav {
  background-color: white;
  height: 15px;

  display: grid;
  grid-template-columns: 60px 270px 80px;
  padding: 8px;
}

.principalNav {
  background-color: #FB8B24;
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 10;

  display: grid;
  grid-template-columns: 90px 90px 90px 90px;
  grid-gap: 5px;
  margin-left: 25px;
  margin-bottom: 0;

  align-content: center;
  text-align: center;
}

.principalNav > img {
  width: 35px;
}





