.telephoneNav1 {
    position: relative;
    background-color: #ffffff;
    height: 15px;
    grid-template-columns: 25px 32px 100px 135px 45px 20px;
    display: grid;
    padding: 15px;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    align-items: baseline;
}

.principalNav1 {
    background-color: #FB8B24;
    height: 100px;
    width: 100%;
    display: grid;
    grid-gap: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
    align-content: center;
    position: fixed;
    left: 0;
    bottom: 0;    
}

.principalNav > img {
    width: 35px;
}

.profilePicture{
    background-image: url(../src/images/profilePicture.jpg);
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;   
}

.profileName{
    position: relative;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.activity{
    position: relative;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;  
}

/* MEDIA */
/* Smartphones (portrait) */
@media only screen and (min-width : 321px) and (max-width : 480px){
.profilePicture{
    position: relative;
}
.activitycontainer{
    justify-items: center;
    align-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
}
/* iPads (portrait) */
@media only screen and (min-width : 767px) and (max-width : 1000px)
and (orientation : portrait){
    .activitycontainer{
        justify-items: center;
        align-items: center;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }
}
/* Desktop */
@media only screen and (min-width : 1024px) and (max-width : 1366px){
    .activitycontainer{
        justify-items: center;
        align-items: center;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }
}
@media only screen and (min-width: 950px){
    .activitycontainer{
        justify-items: center;
        align-items: center;
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }
}
